
/* 리셋 추가값 */
*{box-sizing: border-box;}
a{text-decoration: none; color: inherit; cursor: pointer;}
body{background: #f4f4f4; font-family: 'LonginesSans_M'; font-weight: 500;}


/* 유동 사용 설정값 */
.hidden{display: none; visibility: hidden; opacity: 0;}


/* 고정값 */
$check-area: 1px solid #000;
$footer-height: 190px;

/* 고정값(color) */
$deep-gray: #222222;
$deep-red: #500101;
$light: #9e0000;
$ultra-light-grey: #f4f4f4; // header:hover background

/* 고정값(font) */
$eng-point: "LonginesSerif_B", "Georgia";
$content-M: 'LonginesSans_M', Helvetica, Arial;
$content-B: 'LonginesSans_B', Helvetica, Arial;

$AritaBuri-Bold: 'AritaBuri-Bold';
$AritaBuri-Hairline: 'AritaBuri-Hairline';
$AritaBuri-Light: 'AritaBuri-Light';
$AritaBuri-Medium: 'AritaBuri-Medium';
$AritaBuri-SemiBold: 'AritaBuri-SemiBold';

$AritaDotum-Bold: 'AritaDotum-Bold';
$AritaDotum-Thin: 'AritaDotum-Thin';
$AritaDotum-Light: 'AritaDotum-Light';
$AritaDotum-Medium: 'AritaDotum-Medium';
$AritaDotum-SemiBold: 'AritaDotum-SemiBold';

$Hahmlet-Black: 'Hahmlet-Black';
$Hahmlet-Bold: 'Hahmlet-Bold';
$Hahmlet-ExtraBold: 'Hahmlet-ExtraBold';
$Hahmlet-ExtraLight: 'Hahmlet-ExtraLight';
$Hahmlet-Light: 'Hahmlet-Light';
$Hahmlet-Medium: 'Hahmlet-Medium';
$Hahmlet-Regular: 'Hahmlet-Regular';
$Hahmlet-SemiBold: 'Hahmlet-SemiBold';
$Hahmlet-Thin: 'Hahmlet-Thin';

$NanumHumanBold: 'NanumHumanBold';
$NanumHumanEB: 'NanumHumanEB';
$NanumHumanEL: 'NanumHumanEL';
$NanumHumanHeavy: 'NanumHumanHeavy';
$NanumHumanLight: 'NanumHumanLight';
$NanumHumanRegular: 'NanumHumanRegular';


/* header */
header{
  width: 100%; height: fit-content;
  display: flex; justify-content: center; align-items: center;
  flex-direction: column;
  color: #fff;
  position: fixed; top: 0; left: 0; z-index: 100; 
  &::before{content: "";
    position: absolute; top: 0; left: 0; z-index: -1;
    width: 100%; height: 0%; background: $ultra-light-grey;
    box-shadow: 0 0 3px #00000033;
    transition: all 0.2s ease-in-out;
  } // ::before
  #head-top{width: 100%; height: 60px; padding: 0 7%;
    display: flex; justify-content: space-between; align-items: center;
    flex-direction: row;
    h1{width: 20%; height: 50px; position: relative; z-index: 1;}
    h1 p{width: 100%; height: 100%;
      display: flex; justify-content: center; align-items: center;
      font-size: 2.4em; font-family: $eng-point;}
    .Toolbar{
      &.left{width: 100%; height: 40px; padding-top: 10px;
        display: flex; justify-content: flex-start;}
      &.right{width: 100%; height: 40px; padding-top: 10px;
        display: flex; justify-content: flex-end;}
      ul{display: flex; justify-content: center;}
      li{width: fit-content; height: 100%; font-size: 12px; line-height: 1.6;}
      li a{font-family: $content-M;}
      .text{margin-right: 12px; font-family: $AritaDotum-SemiBold; letter-spacing: 0.3px;}
      li .icon{display: inline-block; width: 1.2em; height: 1.2em; margin: 0 8px; vertical-align: middle;}
      .icon.arrow{background: url(../img/down-white.png) no-repeat center; background-size: contain;}
      .icon.search{background: url(../img/search-white.png) no-repeat center; background-size: contain;}
      .icon.store{background: url(../img/store-white.png) no-repeat center; background-size: contain;}
      .icon.login{background: url(../img/login-white.png) no-repeat center; background-size: contain;}
      .icon.cart{background: url(../img/cart-white.png) no-repeat center; background-size: contain;}
      #ham div{display: none; width: 1.6em; height: 1.6em; margin: 0 8px;
        position: relative; z-index: 10;
        i{position: absolute; width: 86%; height: 2px; background: $deep-red;
          transition: all 0.4s ease-in-out;}
        i:nth-child(1){top: 15%;}
        i:nth-child(2){top: 50%;}
        i:nth-child(3){top: 85%;}
      }
      #ham.active{
        i:nth-child(1){top: 50%; transform: rotate(45deg);}
        i:nth-child(2){display: none;}
        i:nth-child(3){top: 50%; transform: rotate(-45deg);}
      }
    }
  }// #head-top
  #head-bottom{
    width: 22%; height: 54px; margin: 6px auto 0;
    ul{width: 100%; height: 54px;
      display: flex; justify-content: space-between;}
    li{width: fit-content; height: 100%;}
    a{line-height: 50px; font-size: 12px; font-family: $content-B;}
  } // #head-bottom
} // header

header:hover{
  color: $deep-red;
  &::before{height: 100%;}
  #head-top{
    .Toolbar{
      li:hover{color: $light;}
      .icon.arrow{background: url(../img/down-darkred.png) no-repeat center; background-size: contain;}
      .icon.search{background: url(../img/search-darkred.png) no-repeat center; background-size: contain;}
      .icon.store{background: url(../img/store-darkred.png) no-repeat center; background-size: contain;}
      .icon.login{background: url(../img/login-darkred.png) no-repeat center; background-size: contain;}
      .icon.cart{background: url(../img/cart-darkred.png) no-repeat center; background-size: contain;}
      .icon.arrow:hover{background: url(../img/down-red.png) no-repeat center; background-size: contain;}
      .icon.search:hover{background: url(../img/search-red.png) no-repeat center; background-size: contain;}
      .icon.store:hover{background: url(../img/store-red.png) no-repeat center; background-size: contain;}
      .icon.login:hover{background: url(../img/login-red.png) no-repeat center; background-size: contain;}
      .icon.cart:hover{background: url(../img/cart-red.png) no-repeat center; background-size: contain;}
    }
  }
  #head-bottom li:hover{color: $light;}
} // header:hover

header.scrolled{
  color: $deep-red;
  &::before{height: 100%;}
  #head-top{
    .Toolbar{
      .icon.arrow{background: url(../img/down-darkred.png) no-repeat center; background-size: contain;}
      .icon.search{background: url(../img/search-darkred.png) no-repeat center; background-size: contain;}
      .icon.store{background: url(../img/store-darkred.png) no-repeat center; background-size: contain;}
      .icon.login{background: url(../img/login-darkred.png) no-repeat center; background-size: contain;}
      .icon.cart{background: url(../img/cart-darkred.png) no-repeat center; background-size: contain;}
    }
  } // #head-top
} // header.scrolled



/* main */
#inner-box{width: 100%; height: 100vh; position: relative; overflow: hidden;}
.wrap{
  display: flex; flex-direction: column; position: relative;
	.area{width:100%; height:100vh; flex-shrink: 0; line-height: 1.4;}
 
  #main-view-a{
    background: url('../img/main_01.jpg') no-repeat center/cover;
    &:active{transition: all 0.5s; transition-duration: 1400ms;}
    .text{width: fit-content; height: fit-content;
      position: absolute; bottom: 12%; left: 7.6%; color: #fff;}
    .text h3{font-size: 60px; font-family: $eng-point; margin-bottom: 30px; line-height: 1.2;}
    .text p{font-size: 14px; line-height: 1.6;
      font-family: $Hahmlet-Regular; margin-bottom: 30px;}
    .text .btns{display: flex; justify-content: flex-start; align-items: center;}
    .text span{display: flex; justify-content: center; align-items: center;
      width: fit-content; height: 50px;
      padding: 2px 35px; margin-right: 15px; line-height: 14px;
      background: #0e0808; border-radius: 50px;
      font-size: 12px; font-weight: 700; color: #fff;
      cursor: pointer; transition: all 0.3s;}
    .text span:hover{background: #fff; color: #000;}
  } // #main-view-a
  #main-view-b{
    background: url('../img/main_02.png') no-repeat center/cover;
    position: relative; z-index:3 !important;
    &:active{transition: all 0.5s; transition-duration: 1400ms;}
    .text{width: fit-content; height: fit-content;
      position: absolute; bottom: calc(50% - 160px); left: 7.6%; color: #fff;}
    .text h5{font-size: 14px; font-weight: 500; font-family: $Hahmlet-Regular;
      margin-bottom: 20px;}
    .text h3{font-size: 60px; font-family: $eng-point; margin-bottom: 30px; line-height: 1.2;}
    .text p{font-size: 14px; line-height: 1.6;
      font-family: $Hahmlet-Regular; margin-bottom: 30px;}
    .text span{display: flex; justify-content: center; align-items: center;
      width: fit-content; height: 50px;
      padding: 2px 35px; margin-right: 15px; line-height: 14px;
      background: #000; border-radius: 50px;
      font-size: 12px; font-weight: 700; color: #fff;
      cursor: pointer; transition: all 0.3s;}
    .text span:hover{background: #fff; color: #000;}
  } // #main-view-b
} // .wrap

@keyframes pager-fade{
  0%{width: 0;}
  100%{width: 72px;}
}

.pager{
  position: absolute; bottom: 0; left: 7.6%; z-index: 10;
  width: fit-content; height: 50px;
  display: flex; flex-direction: row;
  transition: all 0.3s;
  span{display: flex; justify-content: center; align-items: center;
     width: 72px; height: 30px; margin-right: 10px;
     border-bottom: 2px solid #ffffff66;
     color: transparent; font-size: 10px;
      position: relative;}
  span::before{content: ""; opacity: 0;
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100%;
    border-bottom: 2px solid #fff;}
  span.active{color: #fff;}
  span.active::before{opacity: 1; animation: pager-fade 0.4s ease-in-out 1 forwards;}
} // .pager

@keyframes mouse-anime{
  0%{height: 0; top: 0;}
  25%{height: 100%; top: 0;}
  50%{height: 100%; top: 0;}
  75%{height: 0; top: 100%;}
  100%{height: 0; top: 100%;}
}
.mouse{position: absolute; bottom: 0; left: 30%; z-index: 10;
  width: 40%; height: 50px;
  display: flex; justify-content: flex-start; align-items: center;
  flex-direction: column;
  p{font-size: 11px; margin-bottom: 10px; color: #fff;}
  i{display: block; position: relative;
  width: 1px; height: 30px; background-color: #ffffff77;}
  i::after{content: "";
  display: block;
  width: 1px; height: 30px; background-color: #fff;
  position: absolute; top: 0; left: 0;
  animation: mouse-anime 2.5s ease infinite forwards;}
} // .mouse


#content{width: 100%; height: fit-content; padding: 0 7%;}
#select{
  width: 100%; height: fit-content;
  margin-top: 50px; padding: 50px 0;
  #select-btn{width: 18%; height: fit-content; margin: 0 auto 100px;
    display: flex;  justify-content: space-between; align-items: center;}
  .list{width: fit-content; height: 100%;}
  .list a{width: fit-content; height: 100%; padding: 5px 0;
    font-size: 12px; font-weight: 700;
    font-family: $AritaDotum-Medium; letter-spacing: 0.4px;
    border-bottom: 1px solid #f4f4f4;}
  .list a.active{border-bottom: 1px solid #000}

  #select-sub{width: 100%; height: fit-content; overflow: hidden;
    article{display: none; position: relative;}
    article.active{display: block; height: 540px;}
    // 스와이퍼 스크롤바
    article .swiper-scrollbar{
      position: absolute; bottom: 16px; left: 0; z-index: 10;
      width: 94%; height: 3px; background: #e4e4e4;}
    article .swiper-scrollbar-drag{
      height: 3px; background: #222222;}
    // 스와이퍼 페이지네이션
    article .next{background: url('../img/arrow-right.png') no-repeat center;
      background-size: contain;
      position: absolute; bottom: 0; right: 0; z-index: 10;
      width: 36px; height: 36px;}
    article .prev{background: url('../img/arrow-left.png') no-repeat center;
      background-size: contain;
      position: absolute; bottom: 0; right: 2%; z-index: 10;
      width: 36px; height: 36px;}
    article .next.arrow-hidden,
    article .prev.arrow-hidden{display: none; background: transparent;}

    .item-wrap{display: flex; flex-wrap: nowrap;
      width: 100%; height: 100%;}
    .box{width: 25%; height: 510px;}
    .box a{width: 100%; height: 100%;
      display: flex; flex-direction: column;
      justify-content: center; align-items: center;}
    .box .img{width: 330px; height: 330px; overflow: hidden;
      display: flex; justify-content: center; align-items: center;}
    .box .img img{height: 96%; transition: all 0.4s;}
    img.fix{margin-left: 22px;}
    .box:hover .img img{transform: scale(1.1);}
    .box .info{width: 60%; height: 200px;
      display: flex; justify-content: center; align-items: center;
      flex-direction: column; text-align: center;
      span{display: block;
        width: 100%; height: fit-content; margin-bottom: 10px;
        color: $light; font-size: 14px; font-weight: 700;}
      h3{width: 100%; height: fit-content; margin-bottom: 10px;
        font-size: 12px; line-height: 1.3; font-weight: 700;}
      .sub{width: 100%; height: fit-content; margin-bottom: 10px;}
      .sub p{display: block;
        color: #666666; font-size: 12.5px; font-family: $AritaDotum-Medium;
        line-height: 1.2;}
      h4{width: 100%; height: fit-content;
        margin: 10px auto 20px;
        color: #666666; font-size: 14px;}
    } // .box .info
  } // #select-sub
} // #select


#large-view{
  width: 100%; height: fit-content; padding: 50px 0;
  display: flex; justify-content: flex-start; align-items: center;
  gap: 1%;
  .box{
    width: 12%; height: 480px; border-radius: 20px; overflow: hidden;
    display: flex; justify-content: space-between; align-items: center;
    transition: all 0.5s ease; background: #fff;
    .large-img{
      display: flex; justify-content: center; align-items: center;
      width: 100%; height: 100%; overflow: hidden;
      position: relative;}
    .large-img::after{
      content: "";
      position: absolute; top: 0; right: 0;
      width: 20%; height: 100%; display: none;
      background: linear-gradient(270deg, #fff 30%, rgba(0, 0, 0, 0));}

    .info{width: 35%; height: 100%; display: none;}
    ul{width: 100%; height: fit-content; padding: 0 30px;
      display: flex; flex-direction: column;}
    li{width: fit-content; height: fit-content;}
    h5{font-size: 14px; margin-bottom: 30px;}
    h3{font-size: 40px; font-family: $eng-point; margin-bottom: 35px;}
    span{display: block;
      width: fit-content; height: fit-content;
      padding: 12px 20px; line-height: 1.4;
      font-size: 12px; color: #fff;
      background: #000; border-radius: 50px; border: 1px solid #000;
      transition: all 0.3s; cursor: pointer;}
    span:hover{background: transparent; color: #000;}
  } // .box


  .box.active{width: 74%; height: 480px;
    .large-img::after{display: block;}
    .large-img{width: 65%;
      display: inline-flex; justify-content: center; align-items: center;}
    .info{display: flex; justify-content: center; align-items: center;}
  } // .box.active
} // #large-view


#video{
  width: 100%; height: fit-content; padding: 50px 0;
  display: flex; justify-content: center; align-items: center;
  .frame{width: 100%; height: 540px; border-radius: 20px; overflow: hidden;}
  iframe{width: 100% !important; height: 100% !important;}
}


/* footer */
footer{
  width: 100%; height: fit-content;
  #footer-top{
    width: 100%; padding: 40px 7% 50px;
    display: flex; justify-content: space-between; align-items: center;
    border-top: 1px solid #d2d2d2; border-bottom: 1px solid #d2d2d2;
    .inner{width: 75%;
      display: flex; justify-content: space-between; align-items: center;
      flex-direction: row;
      color: #252525;
      .dep-a{width: 18.75%; height: $footer-height; padding-left: 15px;
        li{width: fit-content; margin-bottom: 15px;
          font-size: 18px; line-height: 1.8; font-weight: 700;
          font-family: $AritaDotum-Bold;}
        li:hover{color: $light;}
      } // .dep-a
      .dep-b{width: 18.75%; height: $footer-height; padding-left: 15px;
        li{width: fit-content; margin-bottom: 15px;
          font-size: 14px; line-height: 1.4; font-weight: 500;}
        li:hover{color: $light;}
      } // .dep-b
      .info{width: 37.5%; height: $footer-height; padding-left: 15px;
        .left{float: left; width: 50%;}
        .right{float: left; width: 50%;}
        li{width: fit-content; margin-bottom: 15px;
          font-size: 14px; line-height: 1.4; font-weight: 500;
          font-family: $AritaDotum-Medium;}
        li:hover{color: $light;}
      } // .info
    } // .inner
    .letter{width: 25%; height: $footer-height; 
      padding-left: 15px;
      p{width: 100%; padding: 5px 0 11px; font-weight: 700; font-family: $AritaBuri-SemiBold;}
      .box{width: 100%; height: 50px;
        display: flex; justify-content: flex-start; align-items: center;
        background: #fff; border-radius: 50px;
      }
      input{width: calc(100% - 50px); height: 48px;
        background: transparent; padding-left: 2em;
        font-size: 14px;
        border: none; outline: none; border-radius: 50px;}
      i{width: 50px; height: 50px;
        background: url('../img/letter.png') no-repeat center center;
        background-size: 60%;}
    } // .letter
  } // #footer-top
  #footer-bottom{
    width: 100%; height: fit-content; padding: 30px 7%;
    #copy{
      width: 100%; height: fit-content;
      display: flex; justify-content: space-between; align-items: start;
      flex-direction: row;
      font-size: 11px; color: #666666;
      .btns{width: fit-content; height: fit-content; line-height: 1.4;
        color: #000; font-size: 14px; border-bottom: 1px solid #d2d2d2;}
      .btns:hover{color: $light; border-color: $light;}
      .sns{width: 20%; height: 20px;}
      .sns p{float: left; font-size: 12px; margin-right: 25px; line-height: 1.2;}
      .sns ul{width: fit-content; height: 20px;;
        float: left;
        display: flex; justify-content: space-between; align-items: center;
        flex-direction: row;}
      .sns li{width: 20px; height: 20px; margin-right: 30px; padding-bottom: 4px;}
      .sns a{width: 100%; height: 100%;
        display: flex; justify-content: center; align-items: center;}
      .sns i{width: 20px; height: 20px;
        &.insta{background: url('../img/insta.png') no-repeat center center;
          background-size: contain;}
        &.facebook{background: url('../img/facebook.png') no-repeat center center;
          background-size: contain;}
        &.tiktok{background: url('../img/tiktok.png') no-repeat center center;
          background-size: contain;}
        &.youtube{background: url('../img/youtube.png') no-repeat center center;
          background-size: contain;}
        &.x-twitter{background: url('../img/twitter.png') no-repeat center center;
          background-size: contain;}
        &.pinterest{background: url('../img/pinterest.png') no-repeat center center;
          background-size: contain;}
        &.weibo{background: url('../img/Weibo.png') no-repeat center center;
          background-size: contain;}
      } // .sns i
      .sns li:hover i{width: 20px; height: 20px;
        &.insta{background: url('../img/insta-o.png') no-repeat center center;
          background-size: contain;}
        &.facebook{background: url('../img/facebook-o.png') no-repeat center center;
          background-size: contain;}
        &.tiktok{background: url('../img/tiktok-o.png') no-repeat center center;
          background-size: contain;}
        &.youtube{background: url('../img/youtube-o.png') no-repeat center center;
          background-size: contain;}
        &.x-twitter{background: url('../img/twitter-o.png') no-repeat center center;
          background-size: contain;}
        &.pinterest{background: url('../img/pinterest-o.png') no-repeat center center;
          background-size: contain;}
        &.weibo{background: url('../img/Weibo-o.png') no-repeat center center;
          background-size: contain;}
      } // .sns i
    } // #copy
    #license{margin: 12px 0; line-height: 1.4; font-size: 11px; color: #666666;}
  } // #footer-bottom
}


/* media query */
@media all and (max-width: 1024px){
  header{background: $ultra-light-grey; box-shadow: 0 3px 3px #a8a8a822;
    #head-top{height: 70px;
      h1{color: $deep-red; margin-top: -12px; left: 2%;}
      .Toolbar{
        color: $deep-red;
        &.left{display: none; width: 0; height: 0; padding: 0;}
        &.right{justify-content: space-between;}
        &.right .txt{display: none;}
        li .icon{width: 1.6em; height: 1.6em}
        .icon.search{background: url(../img/search-darkred.png) no-repeat center; background-size: contain;}
        .icon.store{background: url(../img/store-darkred.png) no-repeat center; background-size: contain;}
        .icon.login{background: url(../img/login-darkred.png) no-repeat center; background-size: contain;}
        .icon.cart{background: url(../img/cart-darkred.png) no-repeat center; background-size: contain;}
        #ham div{display: block;}
        #ham.active div{top: 0; right: -150%;}
      } // .Toolbar
    } // #head-top

    @keyframes head-bottom{
      0%{right: -40%;}
      100%{right: 0;}
    }

    #head-bottom{display: none;
      position: fixed; top: -5px; left: auto; right: -40%;
      width: 40%; height: 100%; padding: 50px 0;
      background: $ultra-light-grey;
      border-radius: 20px 0 0 20px; box-shadow: -2px 0 3px #00000033;
      transition: all 0.3s ease-in-out;
      &.active{display: block; animation: head-bottom 0.3s ease-in-out 1 forwards;}
      &.active::before{display: block;}
      ul{width: 80%; height: fit-content;
        margin: 0 10%; padding: 10px 0;
        justify-content: flex-start; align-items: start;
        flex-direction: column;}
      ul.ghost{border-top: 1px solid #00000033;}
      li{line-height: 50px; font-size: 12px; 
        color: $deep-red; font-family: $content-B; cursor: pointer;}
      .ko a{font-family: $AritaDotum-SemiBold;}
    } // #head-bottom
  } // header
  header:hover::before{height: 0;}

  main{
    .wrap{
      #main-view-b .text{bottom: 12%; left: 7.6%;}
    } // .wrap
  } // main

  #select{
    #select-sub{
      article .swiper-scrollbar{width: 90%;}
      article .prev{right: 3.6%;}
      .box .img{width: 260px; height: 260px}
    }
  } // #select

  #large-view{
    .box{
      width: 16%;
      ul{padding: 0 20px !important;}
      h3{font-size: 30px !important;}
    }
    .box.active{width: 68%; height: 480px;}
  } // #large-view

  footer{
    #footer-top{
      padding: 40px 0 0px; border-bottom: none;
      flex-direction: column;
      .inner{width: 100%; padding: 0 7% 40px !important;
        .dep-a{width: 25%;}
        .dep-b{width: 25%;}
        .info{width: 50%;}
      } // .inner
      .letter{width: 100%; height: fit-content;
        padding: 40px 7% 50px 7%;
        border-bottom: 1px solid #d2d2d2;
        border-top: 1px solid #d2d2d2;}
    } // #footer-top
    #footer-bottom{
      #copy{
        flex-direction: column;
        .copyright{order: 2; font-size: 10px;}
        .btns{margin-bottom: 20px;}
        .sns{margin-bottom: 10px;}
      } // #copy
    }  // #footer-bottom
  } // footer
} // 1024px